@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .main {
    @apply px-6 md:px-18 lg:px-24;

    /* @apply py-52 px-10 md:px-24 lg:px-52 xl:px-80 2xl:px-96 mx-auto; */
    
		/* @apply w-full; */
		/* @apply w-90% mx-auto; */
    
		/* @apply px-auto; */
    
		/* @apply min-h-screen; */
		/* @apply self-stretch; */
	}
	.title {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold text-gray-600 dark:text-gray-50;
	}
  
  .subtitle {
    @apply text-gray-500 dark:text-gray-300 text-lg;
  }
  
  .section {
    max-width: 1000px;
    @apply m-auto py-20 lg:py-52;
  }
  
	body {
    @apply p-0;
	}
	a {
    @apply hover:no-underline;
	}

	html {
		scroll-behavior: smooth;
	}

  @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url(/fonts/proxima-nova/400-regular.woff) format("woff");
  }
  @font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    src: url(/fonts/proxima-nova/500-medium.woff) format("woff");
  }

	.image {
		border-top: 0.75rem solid rgba(191, 219, 254);
		border-left: 0.75rem solid rgba(191, 219, 254);
		border-right: 0.75rem solid rgba(167, 243, 208);
		border-bottom: 0.75rem solid rgba(167, 243, 208);
	}
	.image-inverted {
		border-right: 0.75rem solid rgba(191, 219, 254);
		border-bottom: 0.75rem solid rgba(191, 219, 254);
		border-top: 0.75rem solid rgba(167, 243, 208);
		border-left: 0.75rem solid rgba(167, 243, 208);
	}
	@screen md {
		.image {
			border-top: 1.25rem solid rgba(191, 219, 254);
			border-left: 1.25rem solid rgba(191, 219, 254);
			border-right: 1.25rem solid rgba(167, 243, 208);
			border-bottom: 1.25rem solid rgba(167, 243, 208);
		}
		.image-inverted {
			border-right: 1.25rem solid rgba(191, 219, 254);
			border-bottom: 1.25rem solid rgba(191, 219, 254);
			border-top: 1.25rem solid rgba(167, 243, 208);
			border-left: 1.25rem solid rgba(167, 243, 208);
		}
	}
}
