@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap'); */

:root {
  --theme: light;
  color-scheme: var(--theme);
}

html {
  scroll-behavior: smooth;
}

::selection {
  @apply dark:bg-gray-600 bg-gray-300;
  @apply dark:text-white text-gray-700;
}

.main {
  @apply px-5 md:px-24 lg:px-28;
}

.section {
  max-width: 1200px;
  @apply m-auto py-20 lg:pt-52 lg:pb-52;
}

.heading::before {
  @apply w-8 h-1.5 lg:w-10 lg:h-2 ml-0.5 mb-8;
  @apply bg-purple-400 dark:bg-purple-300;
  content: "";
  display: block;
}

.hover-vertical {
  animation: hover-vertical 2s ease infinite;
  position: relative;
}

@keyframes hover-vertical {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 20px;
  }
}

.nav-text {
  @apply font-mono text-sm font-semibold;
  @apply text-gray-800 dark:text-gray-50;
  @apply hover:bg-gray-600 hover:text-gray-50;
  @apply dark:hover:bg-gray-50 dark:focus:bg-gray-50 dark:hover:text-gray-800 dark:focus:text-gray-800;
  @apply transition-colors focus:outline-none;
  transition-duration: 0.25s !important;
}

.nav-text-home {
  @apply font-semibold;
  @apply text-gray-800 dark:text-gray-50;
  @apply hover:bg-purple-300 hover:text-gray-50;
  @apply dark:hover:bg-purple-300 dark:hover:text-gray-800;
  @apply transition-colors;
  transition-duration: 0.25s !important;
}
/* 
@font-face {
  font-family: Proxima Nova;
  font-weight: 400;
  src: url(/fonts/proxima-nova/400-regular.woff) format("woff");
}
@font-face {
  font-family: Proxima Nova;
  font-weight: 500;
  src: url(/fonts/proxima-nova/500-medium.woff) format("woff");
} */

.moving-gradient-1 {
  --gradient-1: linear-gradient(
    45deg,
    #818cf8,
    #60a5fa,
    #6ee7b7,
    #60a5fa,
    #818cf8
  );
  background-image: var(--gradient-1);
  background-size: 400% 400%;
  background-position: top;
  animation: gradient-animation-y 7s infinite ease-in-out;
}

.moving-gradient-2 {
  --gradient-2: linear-gradient(
    45deg,
    #f87171,
    #a78bfa,
    #f87171,
    #a78bfa,
    #f87171
  );
  background-image: var(--gradient-2);
  background-size: 400% 400%;
  background-position: top;
  animation: gradient-animation-y 7s infinite ease-in-out;
}

.moving-gradient-x {
  background-size: 500%;
  background-position: left;
  animation: gradient-animation-x 10s infinite alternate;
}

.moving-gradient-x:hover,
.moving-gradient-x:focus {
  animation: gradient-animation-x 2s infinite alternate;
}

@keyframes gradient-animation-y {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation-x {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.image {
  border-top: 0.75rem solid rgba(191, 219, 254);
  border-left: 0.75rem solid rgba(191, 219, 254);
  border-right: 0.75rem solid rgba(167, 243, 208);
  border-bottom: 0.75rem solid rgba(167, 243, 208);
}
.image-inverted {
  border-right: 0.75rem solid rgba(191, 219, 254);
  border-bottom: 0.75rem solid rgba(191, 219, 254);
  border-top: 0.75rem solid rgba(167, 243, 208);
  border-left: 0.75rem solid rgba(167, 243, 208);
}
@screen md {
  .image {
    border-top: 1.25rem solid rgba(191, 219, 254);
    border-left: 1.25rem solid rgba(191, 219, 254);
    border-right: 1.25rem solid rgba(167, 243, 208);
    border-bottom: 1.25rem solid rgba(167, 243, 208);
  }
  .image-inverted {
    border-right: 1.25rem solid rgba(191, 219, 254);
    border-bottom: 1.25rem solid rgba(191, 219, 254);
    border-top: 1.25rem solid rgba(167, 243, 208);
    border-left: 1.25rem solid rgba(167, 243, 208);
  }
}

.article-content h2 {
  @apply mt-9;
  @apply font-bold;
  @apply text-2xl;
  @apply text-gray-700 dark:text-white;
  scroll-margin-top: 50px;
}

.article-content p {
  @apply mt-4;
  @apply text-gray-600 dark:text-gray-300;
  font-size: 1.2rem;
}

.article-content code {
  overflow-wrap: break-word;
  word-break: break-all;
}

.article-content a {
  @apply text-gray-700 dark:text-white;
  @apply underline;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.article-content img {
  @apply m-auto max-w-full;
  @apply my-3;
  @apply sm:px-16 md:px-24;
}

.article-content table {
  @apply mt-6 mb-6 mx-auto;
}

.article-content blockquote {
  @apply mt-3;
  @apply pl-6 py-3;
  @apply border-l-4 border-gray-400;
}

.article-content blockquote p {
  @apply m-0;
}

.article-content ul {
  @apply ml-6 list-square;
}

.article-content-link {
  @apply block;
  @apply text-gray-800 dark:text-gray-100;
  @apply hover:text-gray-50 hover:bg-gray-600;
  @apply dark:hover:text-gray-800 dark:hover:bg-gray-50;
  @apply mt-3;
}

@keyframes cover-reveal {
  0% {
    transform: translateX(-101%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(101%);
  }
}
@keyframes text-reveal {
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.reveal #cover {
  animation: cover-reveal 700ms ease 100ms forwards;
}

.reveal #text {
  animation: text-reveal 700ms ease 100ms forwards;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition-duration: 0.01s !important;
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
  }
}


